html,button,input,select,textarea{color:#222}
html{font-size:1em;line-height:1.4}
::-moz-selection{background:#b3d4fc;text-shadow:none}
::selection{background:#b3d4fc;text-shadow:none}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
audio,canvas,img,video{vertical-align:middle}
fieldset{border:0;margin:0;padding:0}
textarea{resize:vertical}
.browsehappy{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}
.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px}
.ir:before{content:"";display:block;width:0;height:150%}
.hidden{display:none !important;visibility:hidden}
.displayNone{display:none}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.invisible{visibility:hidden}
.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both}
.clearfix{*zoom:1}
body{background:#323232}
body{background:url(../img/bg.jpg)}
#header{background:url(../img/bgShade.png);padding:15px;border-bottom:1px solid #000;min-width:930px}
#headerInner{width:930px;margin:auto}
#topInner{text-align:center;border-bottom:1px solid #2e2e2e}
#navMenu{padding:0;float:none;margin-bottom:-6px;margin-top:10px;text-align:center}
#navMenu li{display:inline-block;width:23%}
#navMenu li a{color:#5d5d5d;text-decoration:none;font-size:20px;margin-right:20px;transition:all .3s}
#navMenu li a:hover{color:#41b2e3;font-size:22px;line-height:20px}
#navMenu li a.active{color:#333}
.actionButtons{display:inline-block;padding-top:212px}
.actionButtons a{display:block;color:#5d5d5d;line-height:30px;text-decoration:none;transition:all .3s}
.actionButtons a:hover{color:#bfbfbf}
.actionButtons.right{float:right;text-align:right}
.logo{background:url(../img/logo.png) no-repeat;width:212px;height:72px;display:inline-block;margin-left:184px}
.logo.about{display:block;margin-left:auto;margin-right:auto}
.social{float:left}
#container{padding:40px 10px;width:930px;margin:auto}
#leftBox{width:400px;display:inline-block;vertical-align:top}
#leftBox .playerName{margin-left:2px;margin-right:8px}
.topSpacer{height:208px}
.stats{padding:20px}
.numberHeader{margin-left:154px}
.num{display:inline-block;width:27px;text-align:center}
.row div{width:25px;height:20px;border:2px solid #a4a4a4;display:inline-block;margin-left:-6px;transition:all .2s}
.fill{background:#3b59a1}
.row{height:22px}
.playerBox{background:#fff;width:392px;border:4px solid #000;margin-top:8px}
.bio{padding:20px;font-size:14px}
.bioSpacer{background:#a2b1b2}
.row .rowTitle{width:150px;display:inline-block;vertical-align:super;text-transform:uppercase;height:inherit;border:none;margin-left:inherit}
.heroImg{border:4px solid #000;margin:8px 0;transition:border .5s ease;transition:all .1s ease;width:250px}
.heroImg:hover{border-color:#691612;transform:scale(1.03) rotate(1deg);-webkit-transform:scale(1.03) rotate(1deg);-ms-transform:scale(1.03) rotate(1deg)}
#leftBox .heroImg{float:right}
#rightBox .heroImg{float:left}
.playerName{width:188px;font-size:16px;color:#a4a4a4;margin-right:10px;padding:5px;vertical-align:bottom;margin-bottom:1px;font-weight:lighter}
#rightBox{width:400px;display:inline-block;vertical-align:top;float:right}
#rightBox .playerName{margin-left:8px;margin-right:0}
.catchphrase{color:#dadada;font-size:16px;font-family:Arial;text-align:center;font-style:italic;margin-left:20px;display:inline-block;line-height:75px;vertical-align:top}
#fightButton{border:4px solid #691612;margin-top:311px;margin-left:5px;background:url(../img/fight.png) no-repeat 50% #c4382f;width:112px;height:72px;transition:all .3s ease}
#fightButton:hover{background-color:#691612;transform:rotate(-3deg);-webkit-transform:rotate(-3deg);-ms-transform:rotate(-3deg)}
#advancedHolder{margin-top:30px;border:4px #000 solid}
#advancedOptions{background:#a2b1b2;padding:10px;text-transform:uppercase;font-size:18px;transition:all .3s}
#advancedOptions:hover{cursor:pointer;background:#788e8f}
#advancedOptions:hover #advancedArrow{margin-right:5px}
#advancedBox{background:#fff;padding:30px 10px;display:none}
.statBox{display:inline-block;margin-right:20px}
.weightDescription{margin:10px 0 30px;color:#6e6e6e;font-weight:lighter}
#save{float:right;border:2px solid #691612;background:#c4382f;color:#fff;font-weight:lighter;font-size:18px;padding:10px 15px;margin-left:10px;transition:.5s}
#save:hover{background:#862620}
.clearBtn:hover{cursor:pointer}
.random{cursor:pointer}
#reset{float:right;border:2px solid #879799;background:#a2b1b2;color:#000;font-weight:lighter;font-size:18px;padding:10px 15px;transition:.5s}
#reset:hover{background:#788e8f}
#advancedArrow{margin-left:40px;transition:all .3s ease;float:right;margin-right:10px}
.openArrow{-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}
.select2-chosen{color:#3b59a1;font-weight:bold}
#victory,#noUsers,#draw{text-align:center;position:fixed;width:100%;padding-top:200px;height:100%;z-index:100;background:rgba(0,0,0,0.8)}
#noUsers .winBar,#draw .winBar{height:initial}
#noUsers .explain,#draw .explain{font-size:20px;font-weight:lighter;text-shadow:1px 1px 1px rgba(0,0,0,0.5)}
.bold{font-weight:bold}
#victory:hover{cursor:pointer}
.heroName{font-size:3em;text-transform:uppercase;font-weight:bold;color:#c4382f}
.winBar{background:#40c0e4;border-top:6px solid #2b8ea5;border-bottom:6px solid #2b8ea5;height:65px}
.wins{background:url(../img/wins.png) no-repeat;width:255px;height:107px;margin:-16px auto}
.draw{background:url(../img/draw.png) no-repeat;width:264px;height:107px;margin:-16px auto}
.explain{margin:40px;color:#fff}
.hideVictory{border:4px solid #173506;background:url(../img/close.png) no-repeat 50% #26570a;width:200px;height:80px;transition:.5s;margin-top:40px}
.hideVictory:hover{background-color:#173506}
#about{background:url(../img/bgShade.png);padding:15px;border:1px solid #000;margin-top:60px;color:#5d5d5d;font-size:20px;text-align:center}
#footer{background:url(../img/bgShade.png);padding:15px;border:1px solid #000;margin-top:15px;min-width:930px}
#footerInner{width:930px;margin:auto}
#footerNav{padding:0;text-align:center}
#footerNav li{display:inline-block;width:120px}
#footerNav li a{text-decoration:none;color:#5d5d5d}
.disclaimer{color:#333;text-align:center}
.disclaimer a{color:#333}
#listSearch{text-align:center;margin-top:40px}
#searchBox{font-size:20px;padding:6px;width:400px}
#searchButton{padding:10px 20px;vertical-align:top;height:39px}
.bigCaption{font-size:32px;padding:30px 0;color:#dadada;font-weight:lighter;text-align:center}
#thumbSlider{padding:10px 0}
#thumbSlider img{margin-right:25px}
@media only screen and (min-width:35em){}@media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi){}
